tc() {
    touch $1
    code $1
}

mkdircd() {
    mkdir --p -- "$1"
    cd -P -- "$1"
}

mkdirtouch() {
    mkdir -p "$(dirname "$1")"
    touch "$1"
}

mkdirtouchcd() {
    mkdir -p "$(dirname "$1")"
    touch "$1"  
    cd "$(dirname "$1")"
}

notes() {
    readonly NOTES_DIRECTORY="${HOME}/notes"
    readonly NOTES_EDITOR="vim"
    readonly NOTES_FILE_EXTENSION="md"

    readonly NOTES_FILE="$(date +%Y-%m).${NOTES_FILE_EXTENSION}"
    readonly NOTES_PATH="${NOTES_DIRECTORY}/${NOTES_FILE}"

    readonly DATE="$(date +%d-%m-%Y)"

    if [ ! -d "${NOTES_DIRECTORY}" ]; then
        mkdir -p "${NOTES_DIRECTORY}"
    fi

    if [ ${#} -eq 0 ]; then
        if [ -p "/dev/stdin" ]; then
            (cat; printf "\n\n") >> "${DATE} ${NOTES_PATH}"
        else
            printf "%s\n\n" "${DATE}" >> "${NOTES_PATH}"
            eval "${NOTES_EDITOR}" "${NOTES_PATH}"
        fi
    else
        printf "%s\n\n" "${DATE} ${*}" >> "${NOTES_PATH}"
    fi
}

update_and_clean_up() {
    ~/.ubuntu_bootstrap/update_and_clean_up.sh
}
