tc() {
    touch $1
    code $1
}

mkdircd() {
    mkdir --p -- "$1"
    cd -P -- "$1"
}

mkdirtouch() {
    mkdir -p "$(dirname "$1")"
    touch "$1"
}

mkdirtouchcd() {
    mkdir -p "$(dirname "$1")"
    touch "$1"
    cd "$(dirname "$1")"
}

notes() {
    readonly NOTES_DIRECTORY="${HOME}/notes"
    readonly NOTES_EDITOR="vim"
    readonly NOTES_FILE_EXTENSION="md"

    readonly DAY="$(date +%d-%A)"
    readonly YEAR_MONTH="$(date +%B-%Y)"
    readonly NOTES_FILE="${YEAR_MONTH}/${DAY}.${NOTES_FILE_EXTENSION}"
    readonly NOTES_PATH="${NOTES_DIRECTORY}/${NOTES_FILE}"


    if [ ! -d "${NOTES_PATH}" ]; then
        mkdir -p "$(dirname "${NOTES_PATH}")"
    fi

    if [ ${#} -eq 0 ]; then
        if [ -p "/dev/stdin" ]; then
            (cat; printf "\n\n") >> "${NOTES_PATH}"
        else
            eval "${NOTES_EDITOR}" "${NOTES_PATH}"
        fi
    else
        printf "%s\n\n" "${*}" >> "${NOTES_PATH}"
    fi
}

kill_process_on_port() {
    if [ ! $# -eq 1 ]
    then
        echo "No port was supplied"
        echo "e.g. kill_process_on_port 3000"
        return -1
    fi
    port=$1
    command="sudo kill -9 \$(sudo lsof -t -i:$port)"
    eval $command
}
